@import "reset.css";
/*---------------------------*/
/*Header footer use*/
/*---------------------------*/
:root {
    --app-header-height: 56px;
    --app-footer-height: 400px;
    --app-section-padding-height: 120px;
    --app-sectitle-padding-height: 40px;
    --app-content-text-color: #949393;
    --app-blue: #5fb7f8;
}
 
/*main content*/
main {
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #393939;
}
.site-main-content{
    width:500px;
}
.site-main-content > div {
    margin-top:10px;
}
.container {
    width: 500px;
    height: 500px;
    background-color: #808080;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}
.grid-item {
    width:88px;
    height:88px;
}
.square {
    width: 100%;
    height: 100%;
}
.circle {
    width: 100%;
    height: 100%;
    border-radius:50%;
}
.select-cls {
    width: 35%;
    height: 50px;
    border: solid 1px #cce8fe;
    padding: 5px;
    background-color: #808080;
    color: #fff;
    border-radius:4px;
}
.create-cls {
    width: 28%;
    height: 50px;
    color: #fff;
    background-color: var(--app-blue);
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
}

.create-cls:hover {
    background-color: #0f97fb;
}

.msg{
    text-align:center;
    color:#fff;
}